<h1>Modify a card</h1>

<form>
	<div class="form-group">
		<label>Title</label>
		<input class="form-control" ng-model="card.title"></input>
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control" ng-model="card.description"></textarea>
	</div>
	<div class="form-group">
		<label>Link</label>
		<textarea class="form-control" ng-model="card.link"></textarea>
	</div>
	<div class="form-group">
		<label>Suggested prior</label>
		<textarea class="form-control" ng-model="card.prior"></textarea>
	</div>
	<div class="form-group">
		<label>Follow up</label>
		<textarea class="form-control" ng-model="card.followup"></textarea>
	</div>
	<input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
	<input type="button" class="btn btn-primary" value="Cancel" ng-click="cancel()"></input>
</form>